body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background: #e63946;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    background-image: url("blood2.avif");
    background-size: cover;
}
header h1{
    display: inline;
}
header i{
    font-size: 80px;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 2em;
    color:#2e6170;
}
section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e63946;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #e63946;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #d62839;
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #e63946;
    color: #ffffff;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
